<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.cpele.indoorboulderingparis">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDaJO_Ojf61pNRW7nSGz30CYMSLOVmmWg4" />

        <activity android:name=".OverviewActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>

</manifest>
