<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.cpele.indoorboulderingparis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBc89yCe-QlHL5cd9u7jU5GcedpSAhMVYQ" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".list.ListActivity" />

        <activity
            android:name=".detail.DetailActivity"
            android:parentActivityName=".list.ListActivity"
            tools:ignore="UnusedAttribute">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".list.ListActivity" />
        </activity>

    </application>

</manifest>
